<html>
<body>
<table>
<tr>
[% SET cols = [ 'name', 'creation_date' ] %] 
[% FOR col = cols %]
<th>[% col %]</td>
[% END %]
<td></td>
<td></td>
<td></td>
</tr>
[% FOR record = items %]
<tr>
[% FOR col = cols %]
<td>
[% record.$col %]
</td>
[% END %]
<td><a href="[% self_url _ 'record/' _ record.id _ '/view' %]">View</a></td>
<td><a href="[% self_url _ 'record/' _ record.id _ '/edit' %]">Edit</a></td>
<td><a href="[% self_url _ 'record/' _ record.id _ '/delete' %]">Delete</a></td>
</tr>
[% END %]
</body>
</html>

